<configuration>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <File>log.txt</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS}|%-3.5p |%-30.30c{0} |%m%n</Pattern>
        </layout>
    </appender>
    <appender name="txtAreaAppender" class="com.diplomat.log.TxtAreaAppender"/>
	
	<logger name="com.diplomat" additivity="false">
		<appender-ref ref="txtAreaAppender" />
		<appender-ref ref="file"/>
	</logger>
    <root level="debug">
        <appender-ref ref="file"/>
    </root>
</configuration>